/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #181A1b;
    color: #c9d1d9;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 16px;
}

/* Container */
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 50px;

}

.hr {
    opacity: 0.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #c9d1d9;
    margin-top: 0;
}

/* Links */
a {
    color: #BB86FC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20px; /* Increase font size on mobile */
        padding: 10px; /* Add padding to prevent content from touching the edges */
        margin: auto 0; /* Remove margin */
    }
    
    .container {
        padding: 20px;  /* Adjust padding for better spacing */
        margin: 0; /* Remove margin */
    }

    .navbar {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        top: 0;
        width: 100%;
        background-color: #121518; /* Ensure the navbar has a background color */
        padding: 10px 0; /* Add some padding for better appearance */
        z-index: 1000; /* Ensure the navbar is above other content */
    }

    .navbar ul {
        margin: 5px 0; /* Add margin between navbar items */
    }

    h1 {
        margin-top: 60px; /* Add margin to the top of the title to prevent clashing with navbar */
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.copyable, .hoverable {
            cursor: pointer;
            position: relative;
            display: inline-block;
        }
        
        .tooltip {
            visibility: hidden;
            position: absolute;
            background-color: #333;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 14px;
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .copyable:hover .tooltip,
        .hoverable:hover .tooltip {
            visibility: visible;
            opacity: 1;
        }

        /* Style for social icons container */
        .social-icon {
            display: inline-block;
            position: relative;
        }

        /* Ensure SVG inherits hover cursor */
        .social-icon svg {
            cursor: pointer;
        }